<html>
	<head>
		<title>SingLy</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="static/styles/home.css">
	</head>
	<body>
		<h1>SingLy</h1>
		<div>
			<ul>
				<li class="home_menu_item">
					<a href="">Home</a>
				</li>

				<li class="home_menu_item">
					<a href="">About</a>
				</li>

				<li class="home_menu_item">
					<a href="">Search</a>
				</li>

				<li class="home_menu_item">
					<a href="">Feedback</a>
				</li>
			</ul>
		</div>

		<div id="login_button">
			<button id="home_login">
				Login
			</button>

			<button id="home_signup">
				Sign Up
			</button>
		</div>

		<div id="singly_blurb">
			<p>
				For those professional singers that lack the visibility they need for new performance opportunities
			</p>

			<p>
				For those amateur singers who are craving a seamless exposure to the art of singing
			</p>

			<p>
				For everyone inbetween who is looking for anything from entertainment to musical growth
			</p>
		</div>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- My Logic -->
		<script type="text/javascript" src="static/js/home.js"></script>
	</body>
</html>