<html>
	<head>
		<title>

		</title>
	</head>
	<body>
		<form class="form" method="post" action="/signup">
			<fieldset>
				<label>First Name</label>
				<input type="text" name="firstName">
			</fieldset>
			
			<fieldset>
				<label>Last Name</label>
				<input type="text" name="lastName">
			</fieldset>

			<fieldset>
				<label>Profile</label>
				<input type="radio" name="userType" value="observer">Observer
				<input type="radio" name="userType" value="karaPerformer">Karaoke Performer
				<input type="radio" name="userType" value="studPerformer">Student Performer
				<input type="radio" name="userType" value="profScouter">Professional Scouter
				<input type="radio" name="userType" value="profTrainer">Professional Trainer
				<input type="radio" name="userType" value="profPerformer">Professional Performer
			</fieldset>

			<input type="submit" value="Sign Up">
		</form>
	</body>
</html>